sample-videochat-webrtc/sample-videochat-webrtc.xcodeproj/xcuserdata/mmsoft.xcuserdatad/xcschemes/sample-videochat-webrtc.xcscheme
sample-videochat-webrtc/sample-videochat-webrtc.xcodeproj/xcuserdata/mmsoft.xcuserdatad/xcschemes/xcschememanagement.plist
sample-videochat-webrtc/sample-videochat-webrtc.xcworkspace/xcshareddata/sample-videochat-webrtc.xccheckout
sample-videochat-webrtc/sample-videochat-webrtc.xcworkspace/xcuserdata/mmsoft.xcuserdatad/UserInterfaceState.xcuserstate
